.logo {
  width: 40px;
  height: 40px;
}

.header {
  display: flex;
  align-items: center;
  background: rgb(103, 166, 180);
  padding: 16px;
}

.site__name {
  font-weight: bold;
  font-size: 16px;
}

.logo__container {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
