.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: rgb(103, 166, 180);
  min-height: 40px;
  font-weight: bold;
}

.link {
  &:hover {
    transition: all 0.8s ease;
    color: rgb(3, 25, 97);
  }
}
